@import url("global.css");

.map-form {
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 200px;
    
}

.form {
    width: 400px;
}


.map {
    width: 600px;
}

.contact-titel {
   
    font-family: "Barlow", sans-serif;
    font-size: 25px;
}

.naam,
.email,
.textarea,
.send-button {
    font-family: "Barlow", sans-serif;
    font-size: 18px;
}

textarea {
    height: 200px;
    width: 400px;
    min-width: 400px;
    min-height: 200px;
    max-width: 550px;
    max-height: 450px;
    margin-top: 16px;
}

.send-button {
    position: relative;
    left: 288px;
    color: white;
    background-color: #56BBEE;
    border-color:transparent;
    width: 120px;
    height: 40px;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.send-button:hover {
    color: #43BFFF;
    background-color: #528ADC;
}

/* VOOR KLEINERE SCHERMEN */
@media screen and (max-width: 1200px) {


}


/* VOOR TABLETS */
@media screen and (max-width: 992px) {

    .map-form{
        display: flex;
        flex-direction: column;
        gap:0px;
    }

    .form {
        display: block;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .map {
        display: block;
        margin: 0 auto;
    }

}

/* VOOR SMARTPHONES */
@media screen and (max-width: 768px) {
    .map-form{
        display: block;
        margin: 0 auto;
        width: 370px;
    }

    form {
        width: auto;
        height: 150px;
    }

    textarea {
    width: 370px;
    height: 200px;
    min-width: 370px;
    min-height: 200px;
    max-width: 370px;
    max-height: 300px;
    margin-top: 16px;
    }
   
    .map iframe {
        position: relative;
        top: 300px;
        width: 370px;
        height: 450px;
    }

    .send-button {
        left: 260px;
    }
}