/*NAVIGATIEMENU*/

html {
    overflow-y: scroll; /* altijd scrollbar tonen, ook als niet nodig */
}

body {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}

nav a {
    font-family: "Josefin Sans", sans-serif;
    text-decoration: none;
    color: white;
    background-color: #56BBEE;
    width: 250px;
    height: 30px;
    padding-top: 10px;
    margin-left: 30px;
    text-align: center;
    font-size: 18px;
    transition: all 0.3s ease;
    border-radius: 5px;
}

nav a:hover {
    text-decoration: none;
    color: #43BFFF;
    background-color: #528ADC;
    font-size: 20px;
}

.nav-menu a.active {
    font-weight: bold;
    border-bottom: 3px solid #0A3B78;
}

.nav-menu-mobile {
    display: none;
}



/* Hamburger knop */
.hamburger {
    position: absolute;
    display: none;
    font-size: 40px;
    color: white;
    cursor: pointer;
    padding: 20px;
    user-select: none;
}


/* EINDE NAVIGATIEMENU */



/* VOOR KLEINERE SCHERMEN */
@media screen and (max-width: 1200px) {


}


/* VOOR TABLETS */
@media screen and (max-width: 992px) {


}

/* VOOR SMARTPHONES */
@media screen and (max-width: 768px) {


    .hamburger {
        display: block;
    }


    .nav-menu {
        display: none;
    }

    nav a {
        margin:0px;
        margin-bottom: 10px;
        font-size: 26px;
        width: 100%;
        height: 30px;
        border-radius: 0;
        background-color: transparent;
        border-color: none;
    }

    nav a:hover {
      font-size: 30px;
      background-color:transparent;
      color: #528ADC;
}
    
    .nav-menu-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100px;
        width: 100vw;
        height: 200px;
        background-color: transparent;
    }

    .nav-menu-mobile a.active {
        font-weight: bold;
        color: #43BFFF;
}

    /* Verberg menu als 'show' ontbreekt */
    .nav-menu-mobile:not(.show) {
        display: none;
    }
}
