@import url("global.css");

body {
    margin: 0px;
}

.header {
    height: 540px;
    width: 100%;
}

.index-content{
    margin-top: 40px;
}

.banner {
    height: 400px;
    width: 100%;
    object-fit: cover;
    
}

h1 {
    position: relative;
    text-align: center;
    font-family: "Marck Script", cursive;
    font-size: 44px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.index-content {
    text-align: center;
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto auto;  
}

.text-afb1,
.text-afb2,
.text-afb3,
.text-afb4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: 40px auto;
    width: 90%;
    max-width: 1100px;
}

.text-afb1 p,
.text-afb2 p,
.text-afb3 p,
.text-afb4 p {
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
}


.text-afb1 img,
.text-afb2 img,
.text-afb3 img,
.text-afb4 img {
    height: 384px;
    border-radius: 6px;
}

.index-titel {
   
    font-family: "Barlow", sans-serif;
    font-size: 25px;
}

@media (max-width: 768px) {

    .header {
    height: 460px;
    width: 100%;
}

    .text-afb1,
    .text-afb2,
    .text-afb3,
    .text-afb4 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .text-afb1 h2,
    .text-afb2 h2,
    .text-afb3 h2,
    .text-afb4 h2 {
        
        order: 1;
    }

    .text-afb1 p,
    .text-afb2 p,
    .text-afb3 p,
    .text-afb4 p {
        order: 2;
        text-align: center;
    }

    .text-afb1 img,
    .text-afb2 img,
    .text-afb3 img {
        order: 3;
        width: 100%;
        height: auto;
        max-width: 400px;
    }

    .text-afb4 img {
        order: 3;
        width: 100%;
        height: auto;
        max-width: 300px;
    }
}
