@import url("global.css");

.content-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    width: 90%;
    margin: 40px auto;
    font-family: "Barlow", sans-serif;
    font-size: 18px;
}

.links-list {
    list-style: none;
    padding: 0;
}

.links-list li {
    margin-bottom: 10px;
    font-size: 18px;
}

.links-list a {
    text-decoration: none;
    color: #333;
    margin-left: 8px; /* ruimte tussen icoon en tekst */
}

.links-list a:hover {
    color: #007BFF;
}